body {
    background: #360033;
    background: linear-gradient(to right, #360033, #0b8793);
    font-family: 'Open Sans';
    font-weight: 300;
    margin-top: 25px;
}

h1 {
    font-family: 'Titan One', cursive;
    font-weight: 300;
    text-align: center;
}

}
h2 {
    font-family: 'Titan One', cursive;
    font-weight: 300;
    margin-top: 5px;
}


